* {
  margin: 0;
  padding: 0;
}
body {
  background: #95b9c9;
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: #95b9c9;
  }
  a {
    text-decoration: none;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }

  #header {
    background-color: #fff;
    padding: 15px 0;
  }
  .header img {
    width: 60px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    color: black;
    font-size: 24px;
    font-weight: 500;
  }
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  background-color: #fff;
  padding: 15px 0;
}
.header img {
  width: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: black;
  font-size: 24px;
  font-weight: 500;
}
/* ? CREATE  */
.create_title {
  margin-top: 28px;
  text-align: center;
  color: #33332d;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3.2px;
}
.create {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box_create_input {
  margin-bottom: 20px;
}
input {
  padding: 10px 30px;
  border-radius: 7px;
  border: none;
}
.btn_create {
  padding: 7px 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.08px;
  border-radius: 7px;
  background: #ddaa27;
  border: none;
  cursor: pointer;
}
/*? MENU*/
.menu {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 0 15px 15px;
  padding: 10px;
  width: 310px;
  height: 270px;
  border-radius: 15px;
  background-color: #fff;
}
.menu_img {
  width: 310px;
  height: 180px;
  border-radius: 15px;
}
.menu_text {
  text-align: center;
  /* margin-top: ; */
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action_btn {
  /* margin-top: -20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  font-size: 20px;

  cursor: pointer;
}
.btn_buy {
  /* width: 40px;
  height: 40px;
  padding: 4px;
  font-size: 30px; */
  cursor: pointer;
  background-color: #fff;
  border: none;
  font-size: 20px;

  cursor: pointer;
}
.btn_edit {
  /* width: 40px; */
  /* height: 40px;
  padding: 4px;
  font-size: 30px; */
  /* cursor: pointer; */
  font-size: 20px;

  background-color: #fff;
  cursor: pointer;
}
.btn_delete {
  width: 40px;
  height: 40px;
  padding: 4px;
  font-size: 20px;
  color: red;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

/*?  modal window*/
.modal_window {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.092);
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.content input {
  padding: 15px 20px;
  border: none;
  font-size: 17px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  padding: 40px;
  background-color: #fff;
  gap: 30px;
  border-radius: 10px;
}
.content button {
  padding: 7px 20px;
  border-radius: 10px;
  background: #ddaa27;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
/*?BASKET */
.basket_box {
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  background-color: floralwhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.basket_img {
  width: 186px;
  height: 123px;
  border-radius: 10px;
}
.basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.basket_text p {
  color: black;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.08px;
}
.basket_action {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
